<!DOCTYPE html>
	<head>
		<title>Navigation Template</title>
		<link href="../bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet"/>
		<link href="../css/stylesheet.css" type="text/css" rel="stylesheet"/>
	</head>
	<body>
		<nav>
			<table class="navigation">
				<tr>
					<td><a href="../../index.html"><img src="../images/buttonHome.png" alt="Home" id="home"/></a></td>
					<td><a href="../../p1/index.html"><img src="../images/button1.png" alt="Project 1" id="p1"/></a></td>
					<td><a href="../../p2/index.html"><img src="../images/button2.png" alt="Project 2" id="p2"/></a></td>
					<td><a href="../../p3/index.html"><img src="../images/button3.png" alt="Project 3" id="p3"/></a></td>
				</tr>
				<tr>
					<td><a href="../../p4/index.html"><img src="../images/button4.png" alt="Project 4" id="p4"/></a></td>
					<td><a href="../../p5/index.html"><img src="../images/button5.png" alt="Project 5" id="p5"/></a></td>
					<td><a href="../../p6/index.html"><img src="../images/button6.png" alt="Project 6 (Upcoming)" id="p6"/></a></td>
					<td><a href="../../p7/index.html"><img src="../images/button7.png" alt="Project 7 (Upcoming)" id="p7"/></a></td>				
				</tr>
			</table>
			<font color="red">Red</font> links are under construction.
			<script src="../script/nav.js"></script>
		</nav>
	</body>
</html>